<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Vue JS</title>
    <link rel="stylesheet" href="style.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <style>
        .container {
            margin-top: 50px;
        }
    </style>
</head>

<body>

<div id="app">

    <div class="container">
        <div v-if="form_type === addFormName" :id="addFormName">
            <p v-if="errors.length">
                <b>Please correct the following error(s):</b>
                <ul><li v-for="error in errors">{{ error }}</li></ul>
            </p>

            <div>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" name="name">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" class="form-control" name="email">
                </div>
                <div class="form-group">
                    <label for="avatar">Avatar:</label>
                    <input type="text" class="form-control" name="avatar">
                </div>
            </div>

            <button v-on:click="showList">Go Back</button>
            <button v-on:click="addUser">Add user</button>
        </div>

        <div v-else-if="form_type === editFormName" :id="editFormName">
            <div>
                <p v-if="errors.length">
                    <b>Please correct the following error(s):</b>
                    <ul><li v-for="error in errors">{{ error }}</li></ul>
                </p>

                <input type="hidden" class="form-control" name="id" v-model="current_user.id" >
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" name="name" v-model="current_user.name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" name="email" v-model="current_user.email" required>
                </div>
                <div class="form-group">
                    <label for="avatar">Avatar:</label>
                    <input type="text" class="form-control" name="avatar" v-model="current_user.avatar" required>
                </div>
            </div>

            <button v-on:click="showList">Go Back</button>
            <button v-on:click="saveUser">Save user</button>
        </div>

        <div v-else :id="listFormName">

            <div class="form-inline mb-4">
                <input v-on:keyup.enter="filterByNameAndEmail" class="form-control mr-sm-2" name="search" type="text" placeholder="Search" aria-label="Search">
                <button v-on:click="filterByNameAndEmail" class="btn btn-info">Search</button>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Avatar</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col"><span></span></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="user in filteredUsers" :key="user.id">
                    <th scope="row">{{ user.id }}</th>
                    <td><img v-bind:src="user.avatar" alt="Broken Avatar Image" height="50" width="50"> </td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <button @click="showEditForm(user.id, $event)">Edit</button>
                        <button @click="deleteUser(user.id, $event)">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>

            <div><small>{{ totalCount }}</small></div>

            <button v-on:click="showAddForm">Add new user</button>
        </div>

    </div>
</div>

    <!-- VUE JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/app.js"></script>

    <!-- BOOTSTRAP -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>